body{
    background-color: rgb(217, 163, 219);
}

.nome{ 
    padding: 7px;
    border: none;
    outline: none;
    width: 250px;
}

.botao{
    padding: 7px;
    border: none;
    background-color: dodgerblue;
    color: white;
}

h2{
    color: rgb(0, 0, 0);
    font-size: arial;
}

div{
    background-color: rgba(255, 255, 255, 0.685);
    padding: 7px;
    border-radius: 10px;
}
